/* ------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* ------------ */
body {
  font-family: monospace;
  height: 100%;
}
h1 {
  width: 100%;
  margin-bottom: 40px;
}
/* ------------ */
.container {
  height: 100%;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ------------ */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-column-gap: 10px;
}
.form-submit {
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}
.cards {
  display: flex;
  margin: 20px 0;
  width: 100%;
}
.card-item {
  width: 100%;
  padding: 5px 20px 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
}
.card-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-activity {
  line-height: 1.2;
  margin-top: 10px;
}
.tag-error {
  width: 100%;
  text-align: center;
}
.button-ans-container {
  display: flex;
  gap: 10px; /* Adds spacing between buttons */
  justify-content: center; /* Centers buttons horizontally */
  align-items: center;
}
/*Answer buttons*/
.button-ans {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-ans:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/*Answer button animation*/
.button-ans span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-ans:hover span {
  font-size:30px;
}

.button-ans:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------ */
.is-element-hidden {
  display: none;
}
/* ------------ */
@media (max-width: 620px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
